body {
  margin: 0;
  background-color: #1f1e1e;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 52.083vw;
  height: 32.5vw;
  background-color: #000000;
  border-radius: 20px;
  position: relative;
}

.phone-img {
  width: 20.521vw;
  height: 29.479vw;
  position: absolute;
  bottom: 0;
  right: 1.719vw;
}

.text-div {
  padding: 4.688vw 0 4.688vw 4.688vw;
  width: 17.656vw;
  display: flex;
  flex-direction: column;
  gap: 0.781vw;
  justify-items: center;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #86868b;
}

.header {
  font-size: 2.188vw;
  color: white;
  margin: 0;
}

.sub-header {
  font-size: 1.042vw;
  color: #86868b;
  margin: 0;
}

.text-pc {
  font-size: 0.98vw;
  color: #86868b;
  width: 24vw;
}

.text-mb {
  color: #86868b;
  display: none;
  font-size: 2.5vw;
  margin: 0;
}

.bold {
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 720px) {
  .content {
    width: 83.333vw;
    height: 85.938vh;
  }

  .phone-img {
    right: 7.5vw;
    width: 54.861vw;
    height: 44.219vh;
  }

  .text-div {
    padding: 3.281vh 8.75vw;
    width: fit-content;
  }

  .text-mb {
    display: block;
  }

  .text-pc {
    display: none;
  }

  .sub-header {
    font-size: 2.778vw;
    margin-bottom: 1.328vh;
  }

  .header {
    font-size: 5.833vw;
    width: 47.083vw;
    margin-bottom: 3.281vh;
  }

  .text-div {
    gap: 0;
  }
}
